@media screen and (max-width: 1120px) {
  /*    global*/
  .wrapper {
    max-width: 800px;
  }

  .section-title {
    font-size: 35px;
    line-height: 45px;
  }

  .section-subtitle {
    font-size: 18px;
  }

  /*    header*/
  .header {
    padding: 30px 5px;
    font-size: 14px;
  }

  .header__nav-list {
    margin-left: 0;
  }

  .header__nav-item {
    margin-right: 20px;
  }

  .header__account-link {
    padding: 10px 12px;
  }

  /*    introducing*/
  .introducing {
    padding: 30px 5px;
  }

  .introducing__block {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .introducing__block-title {
    font-size: 39px;
  }

  .introducing__block-description {
    max-width: 635px;
  }

  /*    spaces*/
  .spaces {
    padding: 30px 0;
  }

  .spaces__top {
    margin-bottom: 87px;
  }

  .spaces__slider-block-orange {
    width: 62px;
    height: 62px;
    padding: 16px;
  }

  .spaces__slider-content {
    padding-top: 100px;
  }

  .spaces__slider-content:before {
    width: 70px;
    height: 70px;
  }

  .spaces-active__title {
    font-size: 30px;
  }

  .spaces-active__text {
    font-size: 14px;
    max-width: 200px;
  }

  .spaces-active-link-wrap {
    padding: 20px 40px 20px 25px;
    max-height: 62px;
  }

  .spaces-active-link {
    font-size: 16px;
  }

  .spaces-active-arrow {
    top: -5px;
  }


  /*    benefits*/
  .benefits-wrap {
    display: flex;
    flex-direction: column;
  }

  .benefits__left {
    max-width: none;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
    padding-top: 0;
  }

  .benefits__left-card {

  }

  .benefits__left-img {
    margin-top: 5px;
    margin-right: 15px;
  }

  .benefits__right {
    max-width: none;
  }

  /*    facilities*/
  .facilities {
    padding: 30px 5px;
  }

  .facilities__tabs label {
    font-size: 18px;
    padding: 15px;
    max-width: 230px;
  }

  .facilities__tabs div {
    max-width: 490px;
  }

  /*    gallery*/
  .gallery {
    padding: 30px 5px;
  }

  .gallery__top {
    margin-right: auto;
    margin-left: 0;
  }

  /*    brands*/
  .brands {
    padding: 30px 5px;
  }

  .brands__title, .brands__subtitle {
    margin-bottom: 15px;
  }

  .brands__list {
    flex-direction: column;
  }

  .brands__list-item {
    margin-bottom: 10px;
  }

  /*    reviews*/
  .reviews {
    padding: 30px 5px;
  }

  /*    help*/
  .help {
    padding: 30px 5px;
  }

  .help__title {
    margin-bottom: 30px;
  }

  .help__card-content {
    padding: 25px 25px 40px 25px;
  }

  .help__card-title {
    font-size: 22px;
  }

  .help__card-arrow {
    padding: 6px 9px;
    max-height: 50px;
    max-width: 50px;
  }

  /*    news*/
  .news {
    padding: 30px 5px;
  }

  .news__head {
    margin-bottom: 30px;
  }

  .news__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .news__content-img {
    width: 100%;
  }

  /*    footer*/
  .section-title {
    font-size: 35px;
    line-height: 45px;
  }

  .section-subtitle {
    font-size: 18px;
  }

  .header {
    padding: 30px 5px;
    font-size: 14px;

    &__nav-list {
      margin-left: 0;
    }

    &__nav-item {
      margin-right: 20px;
    }

    &__account-link {
      padding: 10px 12px;
    }
  }

  .introducing {
    padding: 30px 5px;

    &__block {
      flex-direction: column;
      margin-bottom: 30px;

      &-title {
        font-size: 39px;
      }

      &-description {
        max-width: 635px;
      }
    }
  }

  .spaces {
    padding: 30px 0;

    &__top {
      margin-bottom: 87px;
    }

    &__slider-block-orange {
      width: 62px;
      height: 62px;
      padding: 16px;
    }

    &__slider-content {
      padding-top: 100px;

      &:before {
        width: 70px;
        height: 70px;
      }
    }

    &-active__title {
      font-size: 30px;
    }

    &-active__text {
      font-size: 14px;
      max-width: 200px;
    }

    &-active-link-wrap {
      padding: 20px 40px 20px 25px;
      max-height: 62px;
    }

    &-active-link {
      font-size: 16px;
    }

    &-active-arrow {
      top: -5px;
    }
  }

  .benefits-wrap {
    display: flex;
    flex-direction: column;
  }

  .benefits__left {
    max-width: none;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
    padding-top: 0;

    &-card {
    }

    &-img {
      margin-top: 5px;
      margin-right: 15px;
    }
  }

  .benefits__right {
    max-width: none;
  }

  .facilities {
    padding: 30px 5px;

    &__tabs label {
      font-size: 18px;
      padding: 15px;
      max-width: 230px;
    }

    &__tabs div {
      max-width: 490px;
    }
  }

  .gallery {
    padding: 30px 5px;

    &__top {
      margin-right: auto;
      margin-left: 0;
    }
  }

  .brands {
    padding: 30px 5px;

    &__title, &__subtitle {
      margin-bottom: 15px;
    }

    &__list {
      flex-direction: column;

      &-item {
        margin-bottom: 10px;
      }
    }
  }

  .reviews {
    padding: 30px 5px;
  }

  .help {
    padding: 30px 5px;

    &__title {
      margin-bottom: 30px;
    }

    &__card-content {
      padding: 25px 25px 40px 25px;
    }

    &__card-title {
      font-size: 22px;
    }

    &__card-arrow {
      padding: 6px 9px;
      max-height: 50px;
      max-width: 50px;
    }
  }

  .news {
    padding: 30px 5px;

    &__head {
      margin-bottom: 30px;
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &-img {
        width: 100%;
      }
    }
  }

  .footer-wrap {
    flex-direction: column;
  }

  .footer__left {
    max-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    &-description {
      max-width: 350px;
    }
  }

  .footer__right {
    justify-content: space-between;
  }
}


@media screen and (max-width: 810px) {
  /*global*/
  .wrapper {
    max-width: 580px;
  }

  /*    header*/
  .header {
    padding: 20px 5px;
  }

  .header-wrap {
    align-items: center;
  }

  .header__nav, .header__account {
    display: none;
  }

  .burger {
    display: block;
  }

  .header-mobile {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    padding: 80px 60px 60px 60px;
    text-align: center;

    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
  }

  .header__mobile-active {
    transform: translateX(0);
  }

  .header__nav-list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .header__nav-item {
    margin: 0;
    margin-bottom: 10px;
  }

  .header__nav-link {
    font-size: 30px;
  }

  .header-mobile .header__account {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }

  .header-mobile .header__account-login {
    margin-right: 20px;
    padding: 12px 24px;
  }

  .header-mobile .header__account-signup {
    margin-left: 20px;
    padding: 12px 24px;
  }

  .header-mobile .header__close {
    display: block;
  }

  /*    introducing*/
  .introducing {
    padding: 20px 5px;
  }

  .introducing__block-title {
    line-height: 50px;
  }

  .carousel-indicators {
    bottom: 15px;
  }

  /*    spaces*/
  .spaces {
    padding: 20px 5px;
  }

  .spaces__top {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 56px;
  }

  .spaces__slider .slick-current + .slick-active .spaces__slider-content {
    display: none;
  }

  .spaces__slider .slick-current + .slick-active .spaces__slider-img {
    display: block;
  }

  .spaces__slider .slick-current.slick-center .spaces__slider-content {
    display: block;
  }

  .spaces__slider .slick-current.slick-center .spaces__slider-img {
    display: none;
  }

  .spaces__slide {
    width: 350px;
  }

  .spaces__title {
    margin-bottom: 10px;
  }


  .spaces__slider-block-orange {
    width: 72px;
    height: 72px;
    padding: 20px;
  }

  .spaces__slider-content {
    padding-top: 144px;
  }

  .spaces__slider-content:before {
    width: 90px;
    height: 90px;
  }

  .spaces-active__title {
    font-size: 32px;
  }

  .spaces-active__text {
    font-size: 18px;
    max-width: 250px;
  }

  .spaces-active-link-wrap {
    padding: 25px 73px 25px 53px;
    max-height: 72px;
  }

  .spaces-active-link {
    font-size: 18px;
  }

  .spaces-active-arrow {
    top: -3px;
  }

  /*    benefits*/
  .benefits {
    padding: 20px 5px;
  }

  .benefits__left {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
  }

  .benefits__right {
    padding: 35px;
  }

  .benefits__description {
    font-size: 19px;
  }

  /*    facilities*/
  .facilities {
    padding: 20px 5px;
  }

  .facilities-desktop {
    display: none;
  }

  .facilities-mobile {
    display: block;
  }

  /*reviews slider*/
  .reviews .slider_block {
    width: 580px !important;
    margin: 0 auto !important;
  }

  .reviews__slider-item {
    width: 275px;
    padding: 30px 20px 30px 20px;
  }

  /*    gallery*/
  .gallery {
    padding: 20px 5px;
  }

  /*    brands*/
  .brands {
    padding: 20px 5px;
  }

  /*    reviews*/
  .reviews {
    padding: 20px 5px;
  }

  /*    help*/
  .help {
    padding: 20px 5px;
  }

  .help__cards {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 0;
  }

  .help__card {
    display: block;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  /*    news*/
  .news {
    padding: 20px 5px;
  }

  .news__head {
    flex-direction: column;
    align-items: flex-start;
  }

  .news__title {
    max-width: 480px;
    margin-bottom: 10px;
  }

  .double-item img {
    max-width: 270px;
  }

  /*    footer*/
  .header {
    padding: 20px 5px;

    &-wrap {
      align-items: center;
    }

    &__nav, &__account {
      display: none;
    }

    &-mobile {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: @white;
      z-index: 1000;
      padding: 80px 60px 60px 60px;
      text-align: center;
      display: flex;
      flex-direction: column;
      transform: translateX(-100%);

      .header__account {
        display: flex;
        justify-content: center;
        font-size: 20px;

        &-login {
          margin-right: 20px;
          padding: 12px 24px;
        }

        &-signup {
          margin-left: 20px;
          padding: 12px 24px;
        }
      }

      .header__close {
        display: block;
      }
    }

    &__mobile-active {
      transform: translateX(0);
    }

    &__nav-list {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    &__nav-item {
      margin: 0;
      margin-bottom: 10px;
    }

    &__nav-link {
      font-size: 30px;
    }
  }

  .burger {
    display: block;
  }

  .introducing {
    padding: 20px 5px;

    &__block-title {
      line-height: 50px;
    }
  }

  .carousel-indicators {
    bottom: 15px;
  }

  .spaces {
    padding: 20px 5px;

    &__top {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 56px;
    }

    &__slider .slick-current + .slick-active .spaces__slider-content {
      display: none;
    }

    &__slider .slick-current + .slick-active .spaces__slider-img {
      display: block;
    }

    &__slider .slick-current.slick-center .spaces__slider-content {
      display: block;
    }

    &__slider .slick-current.slick-center .spaces__slider-img {
      display: none;
    }

    &__slide {
      width: 350px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__slider-block-orange {
      width: 72px;
      height: 72px;
      padding: 20px;
    }

    &__slider-content {
      padding-top: 144px;

      &:before {
        width: 90px;
        height: 90px;
      }
    }

    &-active__title {
      font-size: 32px;
    }

    &-active__text {
      font-size: 18px;
      max-width: 250px;
    }

    &-active-link-wrap {
      padding: 25px 73px 25px 53px;
      max-height: 72px;
    }

    &-active-link {
      font-size: 18px;
    }

    &-active-arrow {
      top: -3px;
    }
  }

  .benefits {
    padding: 20px 5px;

    &__left {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 50px;
    }

    &__right {
      padding: 35px;
    }

    &__description {
      font-size: 19px;
    }
  }

  .facilities {
    padding: 20px 5px;

    &-desktop {
      display: none;
    }

    &-mobile {
      display: block;
    }
  }

  .reviews .slider_block {
    width: 580px;
    margin: 0 auto;
  }

  .reviews__slider-item {
    width: 275px;
    padding: 30px 20px 30px 20px;
  }

  .gallery {
    padding: 20px 5px;
  }

  .brands {
    padding: 20px 5px;
  }

  .reviews {
    padding: 20px 5px;
  }

  .help {
    padding: 20px 5px;

    &__cards {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 0;
    }

    &__card {
      display: block;
      width: 350px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  .news {
    padding: 20px 5px;

    &__head {
      flex-direction: column;
      align-items: flex-start;
    }

    &__title {
      max-width: 480px;
      margin-bottom: 10px;
    }
  }

  .double-item img {
    max-width: 270px;
  }

  .footer {
    padding: 20px 5px;

    &__right {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 30px;
    }
  }
}

@media screen and (max-width: 580px) {
  .wrapper {
    max-width: 320px;
  }

  .section-title {
    font-size: 27px;
    line-height: 40px;
  }

  .section-subtitle {
    font-size: 20px;

    &:after {
      top: 16px;
    }
  }

  .header-mobile .header__account-login {
    padding: 12px 2px;
  }

  /*    introducing*/
  .introducing__block-title {
    font-size: 25px;
    line-height: 40px;
  }

  .introducing__block-description {
    max-width: none;
    font-size: 14px;
    line-height: 20px;
  }

  /*    spaces*/
  .spaces__top {
    margin-bottom: 30px;
  }

  .spaces__top-text {
    font-size: 14px;
    line-height: 20px;
  }

  .spaces .spaces__slider .slick-arrow {
    display: none !important;
  }

  .spaces__slide{
    width: 320px;
  }

  .spaces__slider .spaces__slider-content {
    display: block !important;
    height: 300px;
  }

  .spaces__slider .spaces__slider-img {
    display: none !important;
  }

  /*    benefits*/
  .benefits__left {
    grid-template-columns: repeat(1, 1fr);
  }

  .benefits__right {
    padding: 20px;
  }

  .benefits__title {
    margin-bottom: 15px;
  }

  .benefits__description {
    font-size: 14px;
  }

  /*    reviews*/
  .reviews .slider_block {
    width: 320px !important;
    margin: 0 auto !important;
  }

  .reviews__slider-item {
    width: 320px;
  }

  /*    help*/
  .help__card {
    width: 300px;
  }

  /*    news*/
  .double-item {
    flex-direction: column;
  }

  .double-item .news__content-img {
    width: 100%;
    max-width: none;
  }

  .news__content {
    display: flex;
    flex-direction: column;
  }

  .news__content-item {
    width: 100%;
  }

  /*    footer*/
  .introducing__block-title {
    font-size: 25px;
    line-height: 40px;
  }

  .introducing__block-description {
    max-width: none;
    font-size: 14px;
    line-height: 20px;
  }

  .spaces__top {
    margin-bottom: 30px;

    &-text {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .spaces .spaces__slider .slick-arrow {
    display: none;
  }

  .spaces__slider .spaces__slider-content {
    display: block;
    height: 300px;
  }

  .spaces__slider .spaces__slider-img {
    display: none;
  }

  .benefits__left {
    grid-template-columns: repeat(1, 1fr);
  }

  .benefits__right {
    padding: 20px;
  }

  .benefits__title {
    margin-bottom: 15px;
  }

  .benefits__description {
    font-size: 14px;
  }

  .reviews .slider_block {
    width: 320px;
    margin: 0 auto;
  }

  .reviews__slider-item {
    width: 320px;
  }

  .help__card {
    width: 300px;
  }

  .double-item {
    flex-direction: column;

    .news__content-img {
      width: 100%;
      max-width: none;
    }
  }

  .news__content {
    display: flex;
    flex-direction: column;

    &-item {
      width: 100%;
    }
  }

  .footer__left {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__right {
    grid-template-columns: repeat(1, 1fr);
  }
}


